body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.score-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.score-board-double {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

#score1, #score2 {
    margin-right: 100px;
}

.score-board div {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0;  /* This line is added to add some space between the scores */
}

#game {
    border: 5px solid #000;
    background-color: #fff;
}

.mode-selector {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.mode-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f0f0f0;
    transition: background 0.3s;
}

.mode-button:hover {
    background: #ddd;
}

.mode-button:active {
    background: #bbb;
}
